<div id="status_components">
    <div id="row">
        <img src="../../assets/static/video.png" id="image">
        <img src="../../assets/static/arrow_right.png" id="image">
        <img src="../../assets/static/data.png" id="image">
        <img src="../../assets/static/arrow_left.png" id="image">
        <img src="../../assets/static/audio.png" id="image">
    </div>
    <p>Transcoding Video And Audio Together<span id="dots">...</span></p>
    <p>(This might take a few minutes)</p>
</div>