h1 {
    color: #EEEEEE;
    font-family: "Didact Gothic";
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 14%;
}

div#ui_box {
    border-radius: 8px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

label {
    color: #EEEEEE;
    font-size: 1.2rem;
    font-family: "Didact Gothic";
    font-weight: 600;
}

input {
    background: #222831;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    height: 23px;
    width: 330px;
    outline: none;
    color: #FFF;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 3px;
}

input:hover {
    background: #31363F;
}

input:focus {
    background: #31363F;
}

select {
    background: #222831;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    height: 33px;
    width: 110px;
    color: #FFF;
    font-size: 15px;
    outline: none;
    margin-top: 5px;
    cursor: pointer;
}

select:hover {
    background: #31363F;
}

select option {
    background: #222831;
}

button {
    background: #222831;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    height: 33px;
    width: 90px;
    color: #FFF;
    font-size: 15px;
    outline: none;
    float: right;
    margin-top: 6px;
    cursor: pointer;
}

button:hover {
    background: #31363F;
}

button:active {
    background: #222831;
}

button.disabled:hover {
    background: #222831;
    cursor: not-allowed;
}

button.disabled:active {
    background: #222831;
}

button:disabled {
    opacity: 0.5;
}

p {
    color: red;
    font-family: "Didact Gothic";
    text-align: center;
    font-size: 17px;
}

@media (max-width: 600px) {
    div#ui_box {
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    }

    h1 {
        margin-top: 30%;
    }
}
